@use '../utils' as *;

/*----------------------------------------*/
/* 07. Offcanvas css start - Modern Design
/*----------------------------------------*/

// sidebar
.side-info-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    
    @media (max-width: 375px) {
        padding: 20px 16px;
    }
}

.modals-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.offcanvas{
    &__area{
        @media #{$xs}{
            width: 290px;
        }

        & .modal.show .modal-dialog{
            transform: none !important;
        }
        & .modal.fade .modal-dialog{
            transition:transform .3s ease-out;
            transform:translate(100px,0px);
        }
        & .modal-dialog{
            position: absolute;
            top: 0;
            right: 0;
            max-width: 450px;
            width: 100%;
            height: 100%;
            margin: 0;
            background: var(--clr-common-white);
        }
        & .modal-content{
            border: 0;
            border-radius: 0;
        }
    }
    
    &__wrapper{
        position: relative;
        padding: 0px;
    }
    
    &__content{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    &__close{
        &-btn{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            height: 44px;
            width: 44px;
            background: #f5f5f5;
            color: #333;
            border: none;
            border-radius: 50%;
            transition: all 0.2s ease;
            
            i {
                color: #333;
            }
            
            &:hover{
                background: var(--clr-theme-1);
                i {
                    color: #fff;
                }
            }
        }
    }
    
    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid #f0f0f0;
        
        .offcanvas__logo img {
            max-height: 50px;
            width: auto;
        }
    }
    
    &__color{
        margin-bottom: 40px;
        & h5{
            font-size: 22px;
            margin-bottom: 15px;
        }
        & input{
            display: none;
        }
        & label{
            width: 100%;
            height: 60px;
            background-color: var(--clr-theme-1);
            &:hover{
                cursor: pointer;
            }
        }

        &-2{
            label{
                background-color: var(--bd-theme-2);
            }
        }
    }
    
    &__search{
        position: relative;
        margin-bottom: 24px;
        
        & input{
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 48px 0 16px;
            background: #f8f9fa;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
            transition: all 0.2s ease;
            
            &::placeholder{
                color: #999;
            }
            
            &:focus{
                border-color: var(--clr-theme-1);
                background: #fff;
                box-shadow: 0 0 0 3px rgba(232, 164, 57, 0.1);
            }
        }
        
        & button{
            position: absolute;
            top: 50%;
            right: 14px;
            transform: translateY(-50%);
            font-size: 16px;
            color: #666;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            
            &:hover {
                color: var(--clr-theme-1);
            }
        }
    }
    
    &__text{
        & p{
            margin-bottom: 25px;
        }
    }
    
    &__contact{
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid #f0f0f0;
        
        & h4{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 16px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #888;
        }
        
        & ul{
            display: flex;
            flex-direction: column;
            gap: 14px;
            
            & li{
                display: flex;
                align-items: center;
                gap: 12px;
                
                &:hover{
                    & .offcanvas__contact-icon i{
                        background: var(--clr-theme-1);
                        color: #fff;
                        border-color: var(--clr-theme-1);
                    }
                    & a{
                        color: var(--clr-theme-1);
                    }
                }
            }
        }
        
        &-icon{
            flex-shrink: 0;
            
            & i{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background: #f8f9fa;
                border: 1px solid #e8e8e8;
                border-radius: 10px;
                font-size: 14px;
                color: #555;
                transition: all 0.2s ease;
            }
        }
        
        &-text{
            & a{
                font-size: 14px;
                font-weight: 500;
                color: #333;
                transition: color 0.2s ease;
                word-break: break-word;
            }
        }
    }
    
    &__wallet{
        &-btn{
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: var(--clr-common-white);
            padding: 0;
            background-color: var(--clr-theme-1);
            @include border-radius(30px);
            padding: 5px 22px;
            padding-right: 24px;

            & svg{
                width: 16px;
                @include transform(translateY(-2px));
                margin-right: 2px;
                & path{
                    fill: none;
                }
            }

            &:hover{
                color: var(--clr-common-white);
                background-color: var(--clr-common-heading);

                & svg{
                    path{
                        stroke: var(--clr-common-white);
                    }
                }
            }
        }
    }
    
    &__map{
        & iframe{
            width: 100%;
            height: 200px;
            border: none;
        }
    }
    
    &__social{
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid #f0f0f0;
        
        & ul{
            display: flex;
            gap: 10px;
            
            & li{
                & a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 44px;
                    height: 44px;
                    background: #f8f9fa;
                    color: #555;
                    border-radius: 50%;
                    font-size: 16px;
                    transition: all 0.2s ease;
                    
                    &:hover{
                        background: var(--clr-theme-1);
                        color: #fff;
                        transform: translateY(-2px);
                    }
                }
            }
        }
    }
    
    &__notification{
        &-icon{
            & a{
                font-size: 14px;
                color: var(--clr-common-heading);
                position: relative;

                & .notification-count{
                    position: absolute;
                    top: -4px;
                    right: -13px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    line-height: 22px;
                    font-size: 12px;
                    font-weight: 600;
                    background-color: var(--clr-theme-1);
                    @include border-radius(50%);
                    color: var(--clr-common-white);
                    text-align: center;
                }
            }
        }
        &-text{
            & p{
                margin-bottom: 0;
                font-weight: 500;
                color: var(--clr-common-heading);
                font-size: 14px;
                
                & .notification-number{
                    color: var(--clr-theme-1);
                }
                & a{
                    color: var(--clr-theme-1);
                }
            }
        }
    }
}
//  hamburger-icon style
.hamburger-icon {
	width: 25px;
	height: 20px;
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}
.hamburger-icon span {
	width: 100%;
	height: 2px;
	background: var(--clr-common-heading);
	display: inline-block;
}
.hamburger-icon span:nth-child(2) {
	margin-left: 9px;
	transition: 0.3s;
}
.hamburger-icon:hover span:nth-child(2) {
	margin-left: 0;
}
.cartmini{
    &__title{
        padding: 0px 0px 15px 0px;
		border-bottom: 1px solid var(--clr-border-14);
		& h4{
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 0;
		}
    }
	&__close{
		position: absolute;
		top: 17px;
		right: 20px;
		&-btn{
			background: transparent;
			color: var(--clr-common-heading);
			font-size: 22px;
			&:hover{
				@include transform(rotate(90deg));
			}
		}
	}
    &__widget{
        height: 100%;
    }
    &__inner{
        & ul{
            & li{
                position: relative;
                @include flexbox();
                padding: 20px 0px 20px 0px;
                border-bottom: 1px solid rgba(129,129,129,.2);
                transition: background-color .3s;
                &:hover{
                    background: var(--tp-gray);
                }
            }
        }
    }
    &__thumb{
        background: var(--clr-border-18);
        margin-right: 15px;
        & img{
            width: 70px;
            height: 90px;
        }
    }
    &__content{
        & h5{
            font-size: 16px;
            margin-bottom: 12px;
            font-weight: 500;
            & a{
                &:hover{
                    color: var(--clr-theme-1);
                }
            }
        }

    }
    &__del{
        position: absolute;
        top: 20px;
        right: 0;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: var(--clr-common-heading);
        font-size: 12px;
        background: transparent;
        @include border-radius(50%);
        cursor: pointer;
        &:hover{
            background: var(--clr-border-4);
        }
    }
    &__checkout{
        padding: 20px 0px;
        padding-bottom: 85px;
        width: 100%;
        background: var(--clr-common-white);
        &-title{
            & h4{
                font-size: 18px;
                display: inline-block;
                font-weight: 600;
                margin-bottom: 0;
            }
            & span{
                float: right;
                font-size: 20px;
                color: var(--clr-common-heading);
                font-weight: 600;
                color: var(--clr-theme-1);
            }
        }
    }
}
.cart-plus,
.cart-minus{
    width: 25px;
    height: 30px;
    border: 1px solid var(--clr-border-14);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    &:hover{
        cursor: pointer;
        color: var(--clr-common-white);
        background: var(--clr-theme-1);
        border-color: var(--clr-theme-1);
    }
}
.cart-input{
    height:30px;
    width: 32px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    vertical-align: middle;
    margin: 0 -3px;
    padding-bottom: 0px;
    &:focus{
        outline: none;
    }
} 
.product-quantity > input {
	width: 80px;
	border-radius: 3px;
}
.product-quantity input {
	color: #000;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid #dcdcdc;
    border-right: 0px;
}
.cartmini__checkout-btn {
	@include flexbox();
	flex-direction: column;
	gap: 20px;
}

// Add to cart
.added-to-cart{
    position: fixed;
    right: 0;
    display: none;
    background-color: var(--clr-common-white);
    z-index: 99;
    top: 20%;
    padding-right: 40px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    border-right: 2px solid var(--clr-theme-1);
    & i{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        color: var(--clr-common-white);
        background-color: var(--clr-theme-1);
        border-radius: 0;
        margin-right: 15px;
    }
    & p{
        margin-bottom: 0;
    }
}
.added-to-wishlist{
    position: fixed;
    right: 0;
    display: none;
    background-color: var(--clr-common-white);
    z-index: 99;
    top: 20%;
    padding-right: 40px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    border-right: 2px solid var(--clr-theme-1);
    & i{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        color: var(--clr-common-white);
        background-color: var(--clr-theme-1);
        border-radius: 0;
        margin-right: 15px;
    }
    & p{
        margin-bottom: 0;
    }
}
// Sidebar-btn
.bd-utilize__buttons {
	display: flex;
	gap: 20px;
}

